
      body {
      padding: 0;
      margin: 0;
      font-family: "Nunito Sans";
      }
      .bg-custom-1{
      background-color: #CDCDCD;
      }
      .bg-custom-2{
      background-color: #626D71;
      }
      h4{
      color: #fff;
      margin: 0px;
      }
      i{
      cursor: pointer;
      }
      i::before{
      vertical-align: middle !important;
      display: block !important;
      }

      .nav-link{
      padding: 15px 25px;
      color: black;
      font-size: 15px;
      }
      .nav-link:hover{
      color: #fff;
      background-color: #77b2c7;
      }
      .main-toolbar{
      display: flex;
      align-items: center;
      border-left: 1px solid #f1f2f6;
      padding-left: 10px;
      }
       h5{
      color: black;
      }
      